// #region global styles
form.semanticForms {
  --formBackgroundColor: #fff;
  --formSubBackgroundColor: #f5f5f5;
  --formTextColor: #000;
  --buttonBackgroundColor: #f5f5f5;
  --borderColor: #c0c0c0;
  --subBorderColor: #c0c0c0;
  --placeholderColor: #aaa;
  --scrollbarColor: #c0c0c0;
  --clearButtonColor: #000;
  --buttonGradientLight: #fff;
  --buttonGradientDark: #c0c0c0;
  --selectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000'%3E%3Cpolygon points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  --inputHeight: 38px;
  --borderRadius: 10px;
  --border: 1px var(--borderColor) solid;
  --inputTopMargin: 15px;
  --inputMinWidth: 250px;
}

form.semanticForms.dark {
  --formBackgroundColor: #555;
  --formSubBackgroundColor: #2f2f2f;
  --formTextColor: #fff;
  --buttonBackgroundColor: #454545;
  --borderColor: #656565;
  --subBorderColor: #3f3f3f;
  --placeholderColor: #C9C9C9;
  --scrollbarColor: #373737;
  --clearButtonColor: #fff;
  --buttonGradientLight: #6f6f6f;
  --buttonGradientDark: #373737;
  --selectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23fff'%3E%3Cpolygon stroke='%23fff' points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  --border: none;
}
// #endregion

form.semanticForms {
  width: 100%;

  // style reset
  * {
    color: var(--formTextColor);
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  // #region container layout
  fieldset {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 10px;
    margin-bottom: 15px;
    border-radius: var(--borderRadius);
    background: var(--formSubBackgroundColor);
    border: 1px var(--subBorderColor) solid;

    dl {
      display: grid;
      // responsive layout for grid, re-fits once the --inputMinWidth is met, 1fr stretches to fill the space
      grid-template-columns: repeat(auto-fit, minmax(var(--inputMinWidth), 1fr));
      gap: 10px;
      margin-bottom: 10px;

      dd {
        position: relative;

        &:not(.checkboxes, .radios) {
          display: flex;
          gap: 10px;
          // prevent inputs from spanning entire width when there are no following items
          max-width: 500px;

          // places all items within the <dd> horizontally
          &:not(.singleCheckbox) {
            flex-direction: column;
          }
        }

        &.checkboxes ul, &.radios ul {
          display: flex;
          flex-direction: column;
          margin-top: var(--inputTopMargin);
          padding-left: 10px;
          gap: 5px;
        }
      }
    }
  }

  menu, ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
  }

  details[open], summary {
    margin-bottom: 10px;
  }

  summary {
    cursor: pointer;
  }
  // #endregion

  // #region input styling
  input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]),
  select,
  textarea {
    background: var(--formBackgroundColor);
    border: var(--border);
    width: 100%;
    border-radius: var(--borderRadius);
    font-size: 16px;
    touch-action: manipulation;

    &:not([type="range"]) {
      padding: 6px;
      padding-right: 30px;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;

      + label {
        filter: brightness(50%);
      }
    }

    &:focus + label,
    &:not(:placeholder-shown)+label {
      transform: translateY(-150%) scale(0.75);
    }
  }

  input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]),
  select {
    height: var(--inputHeight);
  }

  // specific styling for color input
  input[type=color] {
    padding: 4px !important;
    padding-right: 30px !important;
    height: var(--inputHeight);
  }

  input[type=checkbox],
  input[type=radio] {
    // 30% larger based on font size
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
  }

  // custom dropdown graphic on select element
  select {
    cursor: pointer;
    background-image: var(--selectIcon);
    background-size: 14px;
    background-position: calc(100% - 8px) 16px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    resize: vertical;
    width: 100%;
    min-height: 38px;
    height: 100px;
  }
  // #endregion

  // #region buttons
  button.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    height: min-content;
    top: var(--inputTopMargin); // account for margin above each input
    bottom: 0;
    right: 0;
    margin: auto 6px;
    padding: 5px;
    background: none;
    border: none;
    color: var(--clearButtonColor);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      filter: brightness(0.8);
    }
  }

  // custom styling of clear button on textarea
  textarea + label + .clear {
    margin: 6px;
    bottom: auto;
  }

  // hide clear button while placeholder text is visible
  input:placeholder-shown + label + .clear,
  textarea:placeholder-shown + label + .clear,
  input[type=file] + label + .clear {
    display: none;
  }

  // button styling
  input[type='submit'],
  input[type='reset'],
  input[type='image'],
  button:not(.clear) {
    max-width: max-content;
    cursor: pointer;
    background-image: linear-gradient(to bottom, var(--buttonGradientLight) 0%, var(--buttonGradientDark) 100%);
    border: 2px var(--buttonGradientDark) solid;
    border-radius: 20px;
    padding: 5px 25px;
    // margin: 25px 10px;
    font-size: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: filter 0.1s;

    &:hover {
      filter: brightness(1.2);
    }

    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, var(--buttonGradientDark) 0%, var(--buttonGradientLight) 100%);
    }
  }
  // #endregion

  // #region placeholders
  input, textarea {
    &::placeholder {
      color: var(--placeholderColor);
      opacity: 1;
    }
  }
  // #endregion

  // animated labels
  .floatLabelForm {
    div {
      position: relative;
      width: 100%;

      dd:not(.singleCheckbox, .checkboxes, .radios) {
        label {
          position: absolute;
          transform-origin: left center;
          pointer-events: none;
          // when the label is positioned within the input, it needs a 10px buffer
          top: calc(var(--inputTopMargin) + 10px);
          left: 8px;
          transition: transform 250ms;
          cursor: text;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        input,
        textarea,
        select {
          margin-top: var(--inputTopMargin);
        }

        input,
        textarea {
          // hide placeholder content until input is focused
          &::placeholder {
            opacity: 0;
            transition: inherit;
          }

          &::-moz-placeholder {
            opacity: 0;
            transition: inherit;
          }

          &::-webkit-input-placeholder {
            opacity: 0;
            transition: inherit;
          }

          &:-ms-input-placeholder {
            opacity: 0;
            transition: inherit;
          }

          // show placeholder content when focused
          &:focus {
            &::placeholder {
              opacity: 1;
            }

            &::-moz-placeholder {
              opacity: 1;
            }

            &::-webkit-input-placeholder {
              opacity: 1;
            }

            &:-ms-input-placeholder {
              opacity: 1;
            }
          }
        }
      }

      // #region labels

      // top level label for checkbox and radio groups
      dt {
        position: relative;

        label:is([data-for="checkboxes"], [data-for="radios"]) {
          position: absolute;
          transform: translateY(-100%) scale(0.8);
          top: var(--inputTopMargin);
        }
      }

      label {
        user-select: none;
        color: var(--placeholderColor);
        touch-action: manipulation;
      }
      // #endregion
    }

    // #region span classes
    div {
      &.span-1,
      &.span-2,
      &.span-3,
      &.span-4,
      &.span-5,
      &.span-full {
        dd {
          max-width: 100% !important;
        }
      }

      &.span-1 {
        grid-column: span 1;
      }

      &.span-2 {
        grid-column: span 2;
      }

      &.span-3 {
        grid-column: span 3;
      }

      &.span-4 {
        grid-column: span 4;
      }

      &.span-5 {
        grid-column: span 5;
      }
      &.span-full {
        grid-column: 1 / -1;
      }
    }
    // #endregion
  }

  // disable autofill yellow
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--formBackgroundColor) inset;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: 5000s;
    transition-property: background-color, color;
  }

  // update for scrollbars
  @supports (scrollbar-color: auto) {
    textarea {
      scrollbar-color: var(--scrollbarColor) var(--formBackgroundColor);
    }
  }


  // #region container queries
  @container (width < 1300px) {
    .span-5 {
      grid-column: span 4 !important;
    }
  }

  @container (width < 1050px) {
    .span-4, .span-5 {
      grid-column: span 3 !important;
    }
  }

  @container (width < 800px) {
    .span-3, .span-4, .span-5 {
      grid-column: span 2 !important;
    }
  }

  @container (width < 550px) {
    .span-2, .span-3, .span-4, .span-5 {
      grid-column: span 1 !important;
    }
  }
  // #endregion


  // #region low flow form
  &.lowFlow {
    fieldset {
      dl {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      dd {
        margin-bottom: 10px;

        // nudge single checkboxes to match checkbox groups
        &:not(.checkboxes) {
          input[type="checkbox"] {
            margin-left: 10px;
          }
        }

        // remove "x" padding
        input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not([type="range"]),
        select,
        textarea {
          padding-right: 6px;
        }

      }
    }

    .checkboxes ul,
    .radios ul {
      margin-top: calc(var(--inputTopMargin) / 2);
    }
  }
  // #endregion
}