form.semanticForms {
  --inputHeight: 38px;
  --formBackgroundColor: #fff;
  --formSubBackgroundColor: #f5f5f5;
  --formTextColor: #000;
  --buttonBackgroundColor: #f5f5f5;
  --borderColor: #c0c0c0;
  --subBorderColor: #c0c0c0;
  --placeholderColor: #aaa;
  --scrollbarColor: #c0c0c0;
  --selectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000'%3E%3Cpolygon points='0,0 100,0 50,50'/%3E%3C/svg%3E");
}
form.semanticForms.dark {
  --formBackgroundColor: #555;
  --formSubBackgroundColor: #2f2f2f;
  --formTextColor: #fff;
  --buttonBackgroundColor: #454545;
  --borderColor: #656565;
  --subBorderColor: #3f3f3f;
  --placeholderColor: #C9C9C9;
  --scrollbarColor: #373737;
  --selectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23fff'%3E%3Cpolygon stroke='%23fff' points='0,0 100,0 50,50'/%3E%3C/svg%3E");
}
form.semanticForms * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
form.semanticForms {
  color: var(--formTextColor);
  width: 100%;
}
form.semanticForms fieldset {
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 15px;
  background: var(--formSubBackgroundColor);
  border: 1px var(--subBorderColor) solid;
}
form.semanticForms fieldset dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}
form.semanticForms fieldset dl dd:not(.checkboxes):not(.radios) {
  display: flex;
  gap: 10px;
  max-width: 500px;
}
form.semanticForms fieldset dl dd:not(.checkboxes):not(.radios):not(.singleCheckbox) {
  flex-direction: column;
}
form.semanticForms fieldset dl dd:not(.checkboxes):not(.radios) label {
  cursor: pointer;
}
form.semanticForms menu,
form.semanticForms ul {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  list-style-type: none;
}
form.semanticForms dt {
  position: relative;
}
form.semanticForms dt label[data-for="checkboxes"],
form.semanticForms dt label[data-for="radios"] {
  position: absolute;
  transform: translateY(-100%) scale(0.8);
  top: 10px;
}
form.semanticForms .checkboxes ul,
form.semanticForms .radios ul {
  padding-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
form.semanticForms dd {
  position: relative;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]),
form.semanticForms select,
form.semanticForms textarea {
  background: var(--formBackgroundColor);
  border: 1px var(--borderColor) solid;
  color: var(--formTextColor);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  touch-action: manipulation;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not([type="range"]),
form.semanticForms select:not([type="range"]),
form.semanticForms textarea:not([type="range"]) {
  padding: 6px;
  padding-right: 30px;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio])[disabled],
form.semanticForms select[disabled],
form.semanticForms textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio])[disabled] + label,
form.semanticForms select[disabled] + label,
form.semanticForms textarea[disabled] + label {
  filter: brightness(50%);
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):focus + label,
form.semanticForms select:focus + label,
form.semanticForms textarea:focus + label,
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not(:placeholder-shown) + label,
form.semanticForms select:not(:placeholder-shown) + label,
form.semanticForms textarea:not(:placeholder-shown) + label {
  transform: translateY(-150%) scale(0.75);
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]),
form.semanticForms select {
  height: var(--inputHeight);
}
form.semanticForms label {
  color: var(--placeholderColor);
  touch-action: manipulation;
}
form.semanticForms textarea {
  min-width: 100%;
  width: 100%;
  min-height: 38px;
  height: 100px;
}
@supports (scrollbar-color: auto) {
  form.semanticForms textarea {
    scrollbar-color: var(--scrollbarColor) var(--formBackgroundColor);
  }
}
form.semanticForms input[type=color] {
  padding: 4px !important;
  padding-right: 30px !important;
  height: var(--inputHeight);
}
form.semanticForms select {
  cursor: pointer;
  background-image: var(--selectIcon);
  background-size: 14px;
  background-position: calc(100% - 8px) 16px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.semanticForms .clear {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  margin: auto 6px;
  padding: 5px;
  background: none;
  border: none;
  color: var(--placeholderColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
form.semanticForms .clear:hover,
form.semanticForms .clear:focus {
  filter: brightness(0.8);
}
form.semanticForms textarea + label + .clear {
  margin: 6px;
  bottom: auto;
}
form.semanticForms input:placeholder-shown + label + .clear,
form.semanticForms textarea:placeholder-shown + label + .clear,
form.semanticForms input[type=file] + label + .clear {
  display: none;
}
form.semanticForms input[type='submit'],
form.semanticForms input[type='reset'],
form.semanticForms input[type='image'],
form.semanticForms button:not(.clear) {
  cursor: pointer;
  background: var(--buttonBackgroundColor);
  color: var(--formTextColor);
  border: 1px var(--borderColor) solid;
  border-radius: 5px;
  padding: 10px;
}
form.semanticForms input::placeholder,
form.semanticForms textarea::placeholder {
  color: var(--placeholderColor);
  opacity: 1;
}
form.semanticForms input:not(:placeholder-shown) + label,
form.semanticForms input:focus + label,
form.semanticForms textarea:not(:placeholder-shown) + label,
form.semanticForms textarea:focus + label,
form.semanticForms select + label.floatLabelFormAnimatedLabel,
form.semanticForms .checkboxes label.floatLabelFormAnimatedLabel,
form.semanticForms .radios label.floatLabelFormAnimatedLabel,
form.semanticForms dt > label {
  color: var(--formTextColor);
}
form.semanticForms .floatLabelForm div {
  position: relative;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) label {
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
  top: 20px;
  left: 8px;
  transition: transform 250ms;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) select {
  margin-top: 10px;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input::placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea::placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input::-moz-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea::-moz-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input::-webkit-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input:-ms-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea:-ms-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input:focus::placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea:focus::placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input:focus::-moz-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea:focus::-moz-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input:focus::-webkit-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) input:focus:-ms-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox):not(.checkboxes):not(.radios) textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm input:-webkit-autofill,
form.semanticForms .floatLabelForm input:-webkit-autofill:hover,
form.semanticForms .floatLabelForm input:-webkit-autofill:focus,
form.semanticForms .floatLabelForm input:-webkit-autofill:active,
form.semanticForms .floatLabelForm textarea:-webkit-autofill,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:hover,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:focus,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:active,
form.semanticForms .floatLabelForm select:-webkit-autofill,
form.semanticForms .floatLabelForm select:-webkit-autofill:hover,
form.semanticForms .floatLabelForm select:-webkit-autofill:focus,
form.semanticForms .floatLabelForm select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--formBackgroundColor) inset;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: 5000s;
  transition-property: background-color, color;
}
form.semanticForms.lowFlow fieldset dl {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form.semanticForms.lowFlow fieldset dd {
  flex-direction: row !important;
  margin-bottom: 10px;
}
