form.semanticForms {
  font-family: sans-serif;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not([type=color]),
form.semanticForms select,
form.semanticForms textarea {
  box-sizing: content-box;
  background-color: #fff;
  outline: 0;
  border: 1px #c0c0c0 solid;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  font-size: 100%;
  font-family: sans-serif;
  padding: 5px 20px;
}
form.semanticForms input[type=color] {
  background-color: #fff;
  border: 1px #c0c0c0 solid;
  border-radius: 10px;
  width: 292px;
  height: 37px;
  padding: 5px 20px;
}
form.semanticForms select {
  box-sizing: border-box;
}
form.semanticForms input[type=range] {
  border: 0 !important;
  width: 248px !important;
}
form.semanticForms fieldset {
  background-color: #f5f5f5;
  border: 1px #c0c0c0 solid;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
}
form.semanticForms fieldset p {
  text-align: left;
  width: 100%;
  clear: both;
}
form.semanticForms legend {
  text-align: left;
}
form.semanticForms dl {
  text-align: left;
}
form.semanticForms .checkboxes ul,
form.semanticForms .radios ul {
  list-style: none;
  padding: 0;
}
form.semanticForms dd.checkboxes,
form.semanticForms dd.radios {
  margin: 0;
}
form.semanticForms menu {
  width: 100%;
  clear: both;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
form.semanticForms menu li {
  list-style-type: none;
}
form.semanticForms menu input[type='submit'],
form.semanticForms menu input[type='reset'],
form.semanticForms menu input[type='image'],
form.semanticForms menu button {
  float: none;
  clear: none;
  margin: 0;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type=checkbox]):not([type=radio]),
form.semanticForms textarea {
  background-image: url("data:image/svg+xml;utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23000' d='M964.7,157.6L622.3,500l342.4,342.4l0,0c15.7,15.7,25.3,37.3,25.3,61.1c0,47.7-38.7,86.5-86.5,86.5c-23.9,0-45.5-9.7-61.1-25.3l0,0L500,622.3L157.6,964.7l0,0C142,980.3,120.3,990,96.5,990C48.7,990,10,951.3,10,903.5c0-23.9,9.7-45.5,25.3-61.1l0,0L377.7,500L35.3,157.6l0,0C19.7,142,10,120.3,10,96.5C10,48.7,48.7,10,96.5,10c23.9,0,45.5,9.7,61.1,25.3l0,0L500,377.7L842.4,35.3l0,0C858,19.7,879.7,10,903.5,10c47.8,0,86.5,38.7,86.5,86.5C990,120.3,980.3,142,964.7,157.6L964.7,157.6z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
}
form.semanticForms input:not([type=checkbox]):not([type=radio]) {
  background-position: right -12px center;
}
form.semanticForms textarea {
  background-position: right -12px top 10px;
  height: 100px;
}
form.semanticForms select {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000'%3E%3Cpolygon points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  background-size: 14px;
  background-position: calc(99%) 16px;
  background-repeat: no-repeat;
  width: 292px;
  height: 37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.semanticForms input::placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms textarea::placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms input:focus::placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms input:focus::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms input:focus::-webkit-input-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms input:focus:-ms-input-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms textarea:focus::placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms textarea:focus::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms textarea:focus::-webkit-input-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms textarea:focus:-ms-input-placeholder {
  color: #aaa;
  opacity: 1;
}
form.semanticForms input[type='submit'],
form.semanticForms input[type='reset'],
form.semanticForms input[type='image'],
form.semanticForms button {
  width: auto;
  box-sizing: content-box;
  float: none;
  clear: both;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  font-size: 100%;
  margin: 25px 10px;
  padding: 5px 25px;
  border: 2px #c0c0c0 solid;
  background-image: linear-gradient(to bottom, #fff 0%, #c0c0c0 100%);
}
form.semanticForms input[type='submit']:first-of-type,
form.semanticForms input[type='reset']:first-of-type,
form.semanticForms input[type='image']:first-of-type,
form.semanticForms button:first-of-type {
  margin-left: 0;
}
form.semanticForms input[type='submit']:active,
form.semanticForms input[type='reset']:active,
form.semanticForms input[type='image']:active,
form.semanticForms button:active {
  background-image: linear-gradient(to bottom, #c0c0c0 0%, #fff 100%);
}
form.semanticForms label.floatLabelFormAnimatedLabel,
form.semanticForms input:not([type=checkbox]):not([type=radio]),
form.semanticForms select,
form.semanticForms textarea,
form.semanticForms section {
  transition: color 0.2s, text-indent 0.2s, transform 0.2s, background-position 0.2s;
  touch-action: manipulation;
}
form.semanticForms .floatLabelForm {
  margin: 0 auto;
}
form.semanticForms .floatLabelForm input[disabled] {
  opacity: 0.5;
}
form.semanticForms .floatLabelForm input:not([type=date])::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}
form.semanticForms .floatLabelForm dd {
  float: left;
  margin: 0 10px 0 10px;
}
form.semanticForms .floatLabelForm dt:not(.checkboxes):not(.radios) {
  font-size: 1px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  right: 9999px;
}
form.semanticForms .floatLabelForm dd:not(.checkboxes):not(.radios) {
  display: flex;
  flex-flow: column-reverse;
}
form.semanticForms .floatLabelForm .checkboxes ul,
form.semanticForms .floatLabelForm .radios ul {
  margin: 3px 20px 0 0;
  width: 262px;
  padding-left: 10px;
}
form.semanticForms .floatLabelForm label.floatLabelFormAnimatedLabel {
  width: 170px;
  padding: 6px 15px;
  font-size: 75%;
  color: #aaa;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 38px) scale(1.5);
}
form.semanticForms .floatLabelForm dd:not(.checkboxes):not(.radios).singleCheckbox {
  width: 292px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: left;
}
form.semanticForms .floatLabelForm dd:not(.checkboxes):not(.radios).singleCheckbox label {
  margin-top: 10px;
}
form.semanticForms .floatLabelForm dd:not(.checkboxes):not(.radios).singleCheckbox input {
  margin: 10px 10px 0 0;
}
form.semanticForms .floatLabelForm ::placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm ::-moz-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm :-ms-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm input:focus::placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm input:focus::-moz-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm input:focus::-webkit-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm input:focus:-ms-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm textarea:focus::placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm textarea:focus::-moz-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm input:not(:placeholder-shown) + label,
form.semanticForms .floatLabelForm input:focus + label,
form.semanticForms .floatLabelForm textarea:not(:placeholder-shown) + label,
form.semanticForms .floatLabelForm textarea:focus + label,
form.semanticForms .floatLabelForm select + label.floatLabelFormAnimatedLabel,
form.semanticForms .floatLabelForm .checkboxes label.floatLabelFormAnimatedLabel,
form.semanticForms .floatLabelForm .radios label.floatLabelFormAnimatedLabel {
  transform: translate(0, 0) scale(1);
  text-indent: 6px;
  cursor: default;
  color: #000;
}
form.semanticForms .floatLabelForm input.x {
  background-position: right 6px center;
}
form.semanticForms .floatLabelForm textarea.x {
  background-position: right 6px top 10px;
}
form.semanticForms .floatLabelForm .onX {
  cursor: pointer;
}
form.semanticForms .floatLabelForm input:-webkit-autofill,
form.semanticForms .floatLabelForm input:-webkit-autofill:hover,
form.semanticForms .floatLabelForm input:-webkit-autofill:focus,
form.semanticForms .floatLabelForm input:-webkit-autofill:active,
form.semanticForms .floatLabelForm textarea:-webkit-autofill,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:hover,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:focus,
form.semanticForms .floatLabelForm textarea:-webkit-autofill:active,
form.semanticForms .floatLabelForm select:-webkit-autofill,
form.semanticForms .floatLabelForm select:-webkit-autofill:hover,
form.semanticForms .floatLabelForm select:-webkit-autofill:focus,
form.semanticForms .floatLabelForm select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: 5000s;
  transition-property: background-color, color;
}
form.semanticForms .floatLabelForm::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
@media (min-width: 700px) {
  form.semanticForms .floatLabelForm {
    margin: 0 -10px;
    width: auto;
    text-align: left;
  }
  form.semanticForms fieldset {
    text-align: left;
  }
  form.semanticForms fieldset input[type='submit'],
  form.semanticForms fieldset input[type='reset'],
  form.semanticForms fieldset input[type='image'],
  form.semanticForms fieldset button {
    float: left;
    clear: none;
  }
  form.semanticForms fieldset :last-child {
    margin-right: 0;
  }
  form.semanticForms .x2 input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not([type=color]),
  form.semanticForms .x2 select,
  form.semanticForms .x2 textarea {
    width: 562px;
  }
  form.semanticForms .x2 input[type=color] {
    width: 604px;
  }
  form.semanticForms .x2 input[type=range] {
    width: 560px !important;
  }
  form.semanticForms .x2 select {
    width: 604px;
  }
  form.semanticForms .x2.checkboxes ul,
  form.semanticForms .x2.radios ul {
    width: 574px;
  }
  form.semanticForms .x2 label.floatLabelFormAnimatedLabel {
    width: 375px;
  }
}
form.semanticForms.lowFlow dl {
  margin: 10px 0 0 0;
}
form.semanticForms.lowFlow dd {
  margin: 0 0 25px 0;
}
form.semanticForms.lowFlow dd:last-child {
  margin: 0;
}
form.semanticForms.dark input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not([type=color]),
form.semanticForms.dark select,
form.semanticForms.dark textarea {
  background-color: #555;
  border: 1px #555 solid;
  color: #fff;
}
form.semanticForms.dark input[type=color] {
  background-color: #555;
  border: 1px #555 solid;
  color: #fff;
}
form.semanticForms.dark fieldset {
  background-color: #2f2f2f;
  border: 1px #3f3f3f solid;
}
form.semanticForms.dark input:not([type='submit']):not([type='reset']):not([type=checkbox]):not([type=radio]),
form.semanticForms.dark textarea {
  background-image: url("data:image/svg+xml;utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' stroke='%23fff' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23fff' d='M964.7,157.6L622.3,500l342.4,342.4l0,0c15.7,15.7,25.3,37.3,25.3,61.1c0,47.7-38.7,86.5-86.5,86.5c-23.9,0-45.5-9.7-61.1-25.3l0,0L500,622.3L157.6,964.7l0,0C142,980.3,120.3,990,96.5,990C48.7,990,10,951.3,10,903.5c0-23.9,9.7-45.5,25.3-61.1l0,0L377.7,500L35.3,157.6l0,0C19.7,142,10,120.3,10,96.5C10,48.7,48.7,10,96.5,10c23.9,0,45.5,9.7,61.1,25.3l0,0L500,377.7L842.4,35.3l0,0C858,19.7,879.7,10,903.5,10c47.8,0,86.5,38.7,86.5,86.5C990,120.3,980.3,142,964.7,157.6L964.7,157.6z'/%3E%3C/g%3E%3C/svg%3E");
}
form.semanticForms.dark select {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23fff'%3E%3Cpolygon stroke='%23fff' points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  color: #fff;
}
form.semanticForms.dark input::placeholder {
  color: #aaa;
}
form.semanticForms.dark textarea::placeholder {
  color: #aaa;
}
form.semanticForms.dark input:focus::placeholder {
  color: #aaa;
}
form.semanticForms.dark input:focus::-moz-placeholder {
  color: #aaa;
}
form.semanticForms.dark input:focus::-webkit-input-placeholder {
  color: #aaa;
}
form.semanticForms.dark input:focus:-ms-input-placeholder {
  color: #aaa;
}
form.semanticForms.dark textarea:focus::placeholder {
  color: #aaa;
}
form.semanticForms.dark textarea:focus::-moz-placeholder {
  color: #aaa;
}
form.semanticForms.dark textarea:focus::-webkit-input-placeholder {
  color: #aaa;
}
form.semanticForms.dark textarea:focus:-ms-input-placeholder {
  color: #aaa;
}
form.semanticForms.dark input[type='submit'],
form.semanticForms.dark input[type='reset'],
form.semanticForms.dark input[type='image'],
form.semanticForms.dark button {
  border: 2px #373737 solid;
  background-image: linear-gradient(to bottom, #6f6f6f 0%, #373737 100%);
  color: #fff;
}
form.semanticForms.dark input[type='submit']:active,
form.semanticForms.dark input[type='reset']:active,
form.semanticForms.dark input[type='image']:active,
form.semanticForms.dark button:active {
  background-image: linear-gradient(to bottom, #373737 0%, #6f6f6f 100%);
  color: #fff;
}
form.semanticForms.dark .floatLabelForm label.floatLabelFormAnimatedLabel {
  color: #aaa;
}
form.semanticForms.dark .floatLabelForm input:not(:placeholder-shown) + label,
form.semanticForms.dark .floatLabelForm input:focus + label,
form.semanticForms.dark .floatLabelForm textarea:not(:placeholder-shown) + label,
form.semanticForms.dark .floatLabelForm textarea:focus + label,
form.semanticForms.dark .floatLabelForm select + label.floatLabelFormAnimatedLabel,
form.semanticForms.dark .floatLabelForm .checkboxes label.floatLabelFormAnimatedLabel,
form.semanticForms.dark .floatLabelForm .radios label.floatLabelFormAnimatedLabel {
  color: #fff;
}
form.semanticForms.dark .floatLabelForm input:-webkit-autofill,
form.semanticForms.dark .floatLabelForm input:-webkit-autofill:hover,
form.semanticForms.dark .floatLabelForm input:-webkit-autofill:focus,
form.semanticForms.dark .floatLabelForm input:-webkit-autofill:active,
form.semanticForms.dark .floatLabelForm textarea:-webkit-autofill,
form.semanticForms.dark .floatLabelForm textarea:-webkit-autofill:hover,
form.semanticForms.dark .floatLabelForm textarea:-webkit-autofill:focus,
form.semanticForms.dark .floatLabelForm textarea:-webkit-autofill:active,
form.semanticForms.dark .floatLabelForm select:-webkit-autofill,
form.semanticForms.dark .floatLabelForm select:-webkit-autofill:hover,
form.semanticForms.dark .floatLabelForm select:-webkit-autofill:focus,
form.semanticForms.dark .floatLabelForm select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #555 inset;
}
