form.semanticForms.light {
  --formBackgroundColor: #fff;
  --formSubBackgroundColor: #f5f5f5;
  --formTextColor: #000;
  --buttonBackgroundColor: #f5f5f5;
  --borderColor: #c0c0c0;
  --subBorderColor: #c0c0c0;
  --placeholderColor: #aaa;
  --scrollbarColor: #c0c0c0;
}
form.semanticForms.dark {
  --formBackgroundColor: #555;
  --formSubBackgroundColor: #2f2f2f;
  --formTextColor: #fff;
  --buttonBackgroundColor: #373737;
  --borderColor: #555;
  --subBorderColor: #3f3f3f;
  --placeholderColor: #aaa;
  --scrollbarColor: #373737;
}
form.semanticForms * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
}
form.semanticForms {
  color: var(--formTextColor);
  width: 100%;
}
form.semanticForms fieldset {
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 25px;
  background: var(--formSubBackgroundColor);
  border: 1px var(--subBorderColor) solid;
}
form.semanticForms fieldset dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  form.semanticForms fieldset dl {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 528px) {
  form.semanticForms fieldset dl {
    grid-template-columns: 1fr;
  }
}
form.semanticForms fieldset dl dd:not(.checkboxes):not(.radios).singleCheckbox label {
  margin-top: 10px;
}
form.semanticForms fieldset dl dd:not(.checkboxes):not(.radios).singleCheckbox input {
  margin: 10px 10px 0 0;
}
form.semanticForms.lowFlow fieldset dl {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form.semanticForms menu {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
form.semanticForms dt {
  position: relative;
}
form.semanticForms dt label[data-for="checkboxes"],
form.semanticForms dt label[data-for="radios"] {
  position: absolute;
  transform: translateY(-100%) scale(0.75);
}
form.semanticForms .checkboxes ul,
form.semanticForms .radios ul {
  padding-left: 10px;
}
form.semanticForms dd {
  position: relative;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]),
form.semanticForms select,
form.semanticForms textarea {
  background: var(--formBackgroundColor);
  border: 1px var(--borderColor) solid;
  color: var(--formTextColor);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 6px;
  padding-right: 30px;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):focus + label,
form.semanticForms select:focus + label,
form.semanticForms textarea:focus + label,
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]):not(:placeholder-shown) + label,
form.semanticForms select:not(:placeholder-shown) + label,
form.semanticForms textarea:not(:placeholder-shown) + label {
  transform: translateY(-150%) scale(0.75);
}
form.semanticForms input:placeholder-shown + label + .clear,
form.semanticForms textarea:placeholder-shown + label + .clear {
  display: none;
}
form.semanticForms input:not([type='submit']):not([type='reset']):not([type='image']):not([type=checkbox]):not([type=radio]) {
  height: 38px;
}
form.semanticForms textarea {
  min-width: 100%;
  width: 100%;
  min-height: 38px;
  height: 100px;
}
@supports (scrollbar-color: auto) {
  form.semanticForms textarea {
    scrollbar-color: var(--scrollbarColor) var(--formBackgroundColor);
  }
}
@supports selector(::-webkit-scrollbar) {
  form.semanticForms textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    padding: 4px;
  }
  form.semanticForms textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--scrollbarColor);
    border-radius: 8px;
  }
}
form.semanticForms input[type=color] {
  padding: 4px !important;
  padding-right: 30px !important;
  height: 38.5px;
}
form.semanticForms .clear {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 6px;
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--placeholderColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
form.semanticForms .clear:hover,
form.semanticForms .clear:focus {
  color: #333;
  color: var(--subBorderColor);
}
form.semanticForms input[type='submit'],
form.semanticForms input[type='reset'],
form.semanticForms input[type='image'],
form.semanticForms button {
  background: var(--buttonBackgroundColor);
  border-radius: 5px;
  padding: 5px;
  color: var(--formTextColor);
  border: 2px var(--borderColor) solid;
}
form.semanticForms label {
  color: var(--placeholderColor);
}
form.semanticForms select {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23fff'%3E%3Cpolygon stroke='%23fff' points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  background-size: 14px;
  background-position: calc(100% - 8px) 12px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.semanticForms input::placeholder,
form.semanticForms textarea::placeholder {
  color: var(--placeholderColor);
  opacity: 1;
}
form.semanticForms input:not(:placeholder-shown) + label,
form.semanticForms input:focus + label,
form.semanticForms textarea:not(:placeholder-shown) + label,
form.semanticForms textarea:focus + label,
form.semanticForms select + label.floatLabelFormAnimatedLabel,
form.semanticForms .checkboxes label.floatLabelFormAnimatedLabel,
form.semanticForms .radios label.floatLabelFormAnimatedLabel,
form.semanticForms dt > label {
  color: var(--formTextColor);
}
form.semanticForms .floatLabelForm div {
  position: relative;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) > label {
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
  top: 8px;
  left: 8px;
  transition: transform 250ms;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input::placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea::placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input::-moz-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea::-moz-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input::-webkit-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input:-ms-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea:-ms-input-placeholder {
  opacity: 0;
  transition: inherit;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input:focus::placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea:focus::placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input:focus::-moz-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea:focus::-moz-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input:focus::-webkit-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) input:focus:-ms-input-placeholder,
form.semanticForms .floatLabelForm div dd:not(.singleCheckbox) textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
