form.semanticForms,
form.semanticForms.light,
table.semanticForms {
  --semanticFormsFontFamily: sans-serif;
  --semanticFormsFontSize: 16px;
  --semanticFormsFormBgColor: #fff;
  --semanticFormsFormSubBgColor: #f5f5f5;
  --semanticFormsTextColor: #000;
  --semanticFormsBorderColor: #c0c0c0;
  --semanticFormsFocusColor: #c0c0c0;
  --semanticFormsSubBorderColor: #c0c0c0;
  --semanticFormsPlaceholderColor: rgba(0, 0, 0, 0.75);
  --semanticFormsScrollbarColor: #c0c0c0;
  --semanticFormsClearButtonColor: #000;
  --semanticFormsButtonGradientLight: #fff;
  --semanticFormsButtonGradientDark: #c0c0c0;
  --semanticFormsInvalid: #f00;
  --semanticFormsInvalidBorder: 1px solid var(--semanticFormsInvalid);
  --semanticFormsWarn: #ffdd00;
  --semanticFormsWarnBorder: 1px solid var(--semanticFormsWarn);
  --semanticFormsInputHeight: 38px;
  --semanticFormsInputFontSize: 16px;
  --semanticFormsInputTopMargin: 15px;
  --semanticFormsInputMinWidth: 250px;
  --semanticFormsInputMaxWidth: 365px;
  --semanticFormsBorderRadius: 10px;
  --semanticFormsNestedFieldsetBgColor: oklch(from var(--semanticFormsFormSubBgColor) 0.3 c h / 0.05);
  --semanticFormsNestedFieldsetBorder: 1px rgba(0, 0, 0, .2) solid;
  --semanticFormsNestedInputBgColor: #fff;
  --semanticFormsBorder: 1px var(--semanticFormsBorderColor) solid;
  --semanticFormsTableTitleColor: #fcfcfc;
  --semanticFormsTableHeaderColor: #eeeeee;
  --semanticFormsTableOddColor: #dddddd;
  --semanticFormsTableEvenColor: #cccccc;
  --semanticFormsTableBorder: 1px #c0c0c0 solid;
  --semanticFormsSelectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000'%3E%3Cpolygon points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  --semanticFormsCustomResizer: url("data:image/svg+xml;utf8,%3Csvg width='20' height='20' viewBox='0 0 5.2916665 5.2916666' version='1.1' id='svg5' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1'%3E%3Cpath style='fill:%23aaa;stroke:%23aaa;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1' d='M 2.8245112,5.0994569 C 4.9396993,2.9842685 4.9396993,2.9842685 4.9396993,2.9842685' id='path1034' /%3E%3Cpath style='fill:%23aaa;stroke:%23aaa;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1' d='M 1.515747,5.0406977 C 4.8873304,1.6691138 4.8873304,1.6691138 4.8873304,1.6691138' id='path1034-1' /%3E%3Cpath style='fill:%23aaa;stroke:%23aaa;stroke-width:0.264583;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1' d='M 0.20657789,5.0909782 C 4.9312207,0.3663348 4.9312207,0.3663348 4.9312207,0.3663348' id='path1034-9' /%3E%3C/g%3E%3C/svg%3E");
  --semanticFormsSearchIcon: url("data:image/svg+xml,%3Csvg%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.7955%2015.8111L21%2021M18%2010.5C18%2014.6421%2014.6421%2018%2010.5%2018C6.35786%2018%203%2014.6421%203%2010.5C3%206.35786%206.35786%203%2010.5%203C14.6421%203%2018%206.35786%2018%2010.5Z%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");

  font-family: var(--semanticFormsFontFamily);
  font-size: var(--semanticFormsFontSize);
  width: 100%;
  overflow-x: hidden;

  &:not(table) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // https://caniuse.com/wf-interpolate-size
  @supports (interpolate-size: allow-keywords) {
    interpolate-size: allow-keywords;
  }

  // due to the specificity of some of these rules, [hidden] won't actually hide things, so we're forcing the issue
  [hidden] {
    display: none !important;
  }

  // hides semantic forms divs if the field itself is hidden
  div:has(dd[hidden]) {
    display: none !important;
  }

  // input + container style reset
  fieldset,
  label,
  input,
  select,
  textarea,
  button,
  menu:has(li > input, li > label, li > button, li > select, li > textarea),
  dl:has(dt > label, dd > input, dd > select, dd > textarea),
  dt:has(> input, > select, > textarea),
  dd:has(> input, > select, > textarea, > ul, > menu),
  div:has(dt, dd),
  dd > p {
    color: var(--semanticFormsTextColor);
    font-family: var(--semanticFormsFontFamily);
    box-sizing: border-box;
  }

  // margin/padding reset for various elements commonly used in semantic-forms
  menu, dl, dt, dd, div, dd > p {
    margin: 0;
    padding: 0;
  }
}

@mixin dark-mode {
  --semanticFormsFormBgColor: #555;
  --inputBackgroudColor: rgba(85,85,85,0.1);
  --semanticFormsFormSubBgColor: #2f2f2f;
  --semanticFormsTextColor: #fff;
  --semanticFormsBorderColor: #656565;
  --semanticFormsFocusColor: #656565;
  --semanticFormsSubBorderColor: #3f3f3f;
  --semanticFormsPlaceholderColor: rgba(255, 255, 255, 0.85);
  --semanticFormsScrollbarColor: #373737;
  --semanticFormsClearButtonColor: #fff;
  --semanticFormsButtonGradientLight: #6f6f6f;
  --semanticFormsButtonGradientDark: #373737;
  --semanticFormsNestedFieldsetBgColor: oklch(from var(--semanticFormsFormSubBgColor) 0.9 c h / 0.05);
  --semanticFormsNestedFieldsetBorder: 1px rgba(255, 255, 255, .1) solid;
  --semanticFormsNestedInputBgColor: rgba(255, 255, 255, .15);
  --semanticFormsBorder: none;
  --semanticFormsTableTitleColor: #3f3f3f;
  --semanticFormsTableHeaderColor: #4f4f4f;
  --semanticFormsTableOddColor: #3f3f3f;
  --semanticFormsTableEvenColor: #4f4f4f;
  --semanticFormsTableBorder: 1px #656565 solid;
  --semanticFormsSelectIcon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23fff'%3E%3Cpolygon stroke='%23fff' points='0,0 100,0 50,50'/%3E%3C/svg%3E");
  --semanticFormsCustomResizer: url("data:image/svg+xml;utf8,%3Csvg width='20' height='20' viewBox='0 0 5.2916665 5.2916666' version='1.1' id='svg5' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1'%3E%3Cpath style='fill:%23c9c9c9;stroke:%23c9c9c9;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1' d='M 2.8245112,5.0994569 C 4.9396993,2.9842685 4.9396993,2.9842685 4.9396993,2.9842685' id='path1034' /%3E%3Cpath style='fill:%23c9c9c9;stroke:%23c9c9c9;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1' d='M 1.515747,5.0406977 C 4.8873304,1.6691138 4.8873304,1.6691138 4.8873304,1.6691138' id='path1034-1' /%3E%3Cpath style='fill:%23c9c9c9;stroke:%23c9c9c9;stroke-width:0.264583;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1' d='M 0.20657789,5.0909782 C 4.9312207,0.3663348 4.9312207,0.3663348 4.9312207,0.3663348' id='path1034-9' /%3E%3C/g%3E%3C/svg%3E");
  --semanticFormsSearchIcon: url("data:image/svg+xml,%3Csvg%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.7955%2015.8111L21%2021M18%2010.5C18%2014.6421%2014.6421%2018%2010.5%2018C6.35786%2018%203%2014.6421%203%2010.5C3%206.35786%206.35786%203%2010.5%203C14.6421%203%2018%206.35786%2018%2010.5Z%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");

  input::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    body:not(.light) {
      form.semanticForms:not(.light), table.semanticForms:not(.light) {
        @include dark-mode;
      }
    }
  }
}

html:not(.light) {
  body:not(.light) {
    form.semanticForms.dark, table.semanticForms.dark {
      @include dark-mode;
    }
  }
}

form.semanticForms.dark,
table.semanticForms.dark {
  @include dark-mode;
}